# Node.js
node_modules/
npm-debug.log
.env

# Logs
logs
*.log

# Dependency directories
node_modules/

# Build output
dist/

# IDEs and editors
.idea/
.vscode/
.DS_Store

# Optional npm cache directory
.npm

# Exclude client/build directory from being ignored
!client/build
